.appBar {
  box-shadow: 3;
  top: 0;
}

.toolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
}

.rightSideIconContainer {
  display: flex;
}

.icon {
  height: 24px;
  display: flex;
}
